@charset "UTF-8";
@import url("../fonts/BebasNeue/stylesheet.css");
@import url("../fonts/HelveticaNeue/stylesheet.css");
@import url("../fonts/Georgia/stylesheet.css");
@import url("../css/header.css");
@import url("../css/footer.css");
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 17px;
}

.top_pink_side {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 62px;
  background-color: #f2ae9c;
}

.main_wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 960px;
          flex: 0 0 960px;
}

.slider1_wrap {
  position: relative;
}

.slider1 .slick-list {
  overflow: hidden;
}

.slider1 .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider1 {
  position: relative;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
}

.slick-prev {
  left: 25px;
}
.slick-prev:before {
  content: "";
  /* добавляем иконку дом */
  font-family: FontAwesome;
  color: #fff;
  font-size: 52px;
}

.slick-next {
  right: 25px;
}
.slick-next:before {
  content: "";
  /* добавляем иконку дом */
  font-family: FontAwesome;
  color: #fff;
  font-size: 52px;
}

.slider1_item {
  width: 100%;
  height: 400px;
}
.slider1_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider2 .slick-list {
  overflow: hidden;
}

.slider2 .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider2 {
  position: absolute;
  left: 36px;
  bottom: 32px;
  width: 413px;
  height: 125px;
}

.slider2_item {
  background-color: #e8663c;
  opacity: 0.8;
  padding: 22px 18px;
}

.slider2_item_title {
  padding-bottom: 20px;
}
.slider2_item_title h3 {
  color: #fff;
  font-family: Bebas;
  font-size: 18px;
  font-weight: 400;
}

.slider2_item_text p {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: 400;
}

.cards_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  padding-bottom: 45px;
}

.card {
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}
.card:first-child .card_title {
  padding: 0 70px;
}
.card:first-child .card_title h2:before {
  position: absolute;
  content: "";
  /* добавляем иконку дом */
  font-family: FontAwesome;
  color: #e8663c;
  font-size: 46px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.card:nth-child(2) .card_title {
  padding: 0 70px;
}
.card:nth-child(2) .card_title h2:before {
  position: absolute;
  content: "";
  /* добавляем иконку дом */
  font-family: FontAwesome;
  color: #e8663c;
  font-size: 46px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.card:last-child .card_title {
  padding: 0 70px;
}
.card:last-child .card_title h2:before {
  position: absolute;
  content: "";
  /* добавляем иконку дом */
  font-family: FontAwesome;
  color: #e8663c;
  font-size: 46px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card_pic {
  margin: 0 -10px;
  padding-bottom: 40px;
}

.card_pic_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.card_pic_left,
.card_pic_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 140px;
  height: 120px;
  padding: 0 10px;
}
.card_pic_left img,
.card_pic_right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card_title {
  position: relative;
  margin-bottom: 35px;
}
.card_title h2 {
  color: #e8663c;
  font-family: Bebas;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.card_text p {
  color: #414141;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 20px;
}

.card_more a {
  color: #fff;
  font-family: Bebas;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #e8663c;
}

.recent_works_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 23px;
}

.recent_works_header {
  margin-right: 19px;
}
.recent_works_header h2 {
  color: #e8603c;
  font-family: Bebas;
  font-size: 18px;
  font-weight: 400;
}

.recent_works_bg-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #ccc url("../img/bg_recent.jpg");
}

.recent_works_cards_row {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent_works_card {
  padding: 0 10px;
}

.recent_works_card_pic {
  width: 220px;
  height: 184px;
  padding-bottom: 10px;
}
.recent_works_card_pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recent_works_card_title {
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  padding-left: 14px;
}
.recent_works_card_title h3 {
  color: #b9b9b9;
  font-family: Bebas;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.recent_works_card_date {
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  padding-bottom: 10px;
  padding-left: 14px;
}
.recent_works_card_date p {
  color: #e8663c;
  font-family: Bebas;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
}